.text {
    background-color: #697565;
    max-width: 500px;
    /* width: 30%; */
    /* height: 50%; */
    margin: 20px;
}

.text * {
    margin: 20px;
    white-space: pre-wrap;
}

.map {
    width: 50%;
    height: 50%;
    max-width: 500px;
    max-height: 500px;
    flex: 1;
    margin: 20px;
}

:global(#backgroundPanel1) {
    background-color: #3C3D37;
    height: 100vh;
    max-height: 100vh;
}

@media screen and (max-width: 900px) {
    :global(#backgroundPanel1) {
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        padding: 10px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .text {
        width: 80%;
        height: auto;
    }

    .map {
        width: 80%;
        height: 50%;
    }
}