.scrollingImages {
    display: flex;
    animation: scrollHorizontal 50s linear infinite;

}

.scrollingImages:hover {
    animation-play-state: paused;
}

.imageView {
    background-color: red;
    display: flex;
}

.image {
    border: 1px solid black;
}

@keyframes scrollHorizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}