.scrollingImages {
    display: flex;
    animation: scrollHorizontal 50s linear infinite;
    height: 100%;
}

.imageView:hover .scrollingImages {
    animation-play-state: paused;
}

.imageView {
    background-color: black;
    display: flex;
    gap: 0;
    height: 40vh;
    overflow: hidden;
}

.imageContainer {
    height: 100%;
}

.imageFromScroll {
    object-fit: contain;
    height: 100%;

}


@keyframes scrollHorizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}