.navigationBar {
    height: 50px;
    width: 100%;
    background-color: #ECDFCC;

    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1000;
    margin: 10px;
}

.navigationBar ul {
    height: 100%;
    margin: 0;
}

.navigationBar a {
    color: #1E201E;
}

/* .navigationBar a.active {
    color: #000;
    text-decoration: underline;
}

.navigationBar a:hover {
    transform: scale(1.05) translateY(-0.15rem);
    transition: all 0.2s ease-in-out;
} */

.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInMove 1s ease forwards;
    animation-delay: 0.1s;
}

@keyframes fadeInMove {
    to {
        opacity: 0.9;
        transform: translateY(0);
    }
}