* {
  font-family: 'Courier New', Courier, monospace;
  color: #d5c4a9;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a.active {
  color: #000000;
  text-decoration: underline;
}

a:hover,
button:hover {

  transform: scale(1.05) translateY(-0.15rem);
  transition: all 0.2s ease-in-out;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;

}

select {
  outline: none;
}