.mainImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    max-height: none;
}

.imageMainFrame {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.PanelImg {
    height: 80%;
    width: auto;

}

.textDiv {
    max-width: min(400px, 30%);

}

.textDiv span {
    display: inline-block;
    letter-spacing: 5%;
    text-align: center;
}

.companyName {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(30px, 5vw, 50px);
    letter-spacing: clamp(0.5rem, 1vw, 1rem);
    font-weight: 300;
    background-color: #ecdfcc14;
    text-align: center;
    /* width: 90%; */
    color: #ECDFCC;
}

:global(#panel1) {
    background-color: #697565;
}

:global(#panel2) {
    background-color: #3C3D37;
}

:global(#panel3) {
    background-color: #D6C0B3;
}

@media screen and (max-width: 500px) {
    .PanelImg {
        height: 60%;
        width: auto;
    }

    .textDiv {
        max-width: 80%;
    }

    .companyName {
        font-size: clamp(24px, 8vw, 36px);
        letter-spacing: 0.5rem;
    }
}