:global(#contactPanel1) {
    background-color: #3C3D37;
    height: 100vh;
    max-height: 100vh;
}


:global(#contactForm) {
    width: 30%;
    height: 50%;
}

:global(#contactInfo) {
    width: 20%
}

@media screen and (max-width: 1100px) {
    :global(#contactPanel1) {
        height: 200vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    :global(#contactForm) {
        max-width: 400px;
        width: 80%;
        height: 80%;
        max-height: 400px;
    }

    :global(#contactInfo) {
        width: 80%;
        text-align: center;
    }



}